<!DOCTYPE html>
<html>
	<head style="background-color:green ;">
		<title>Hi Tanveer, NITian </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body style="background-color:grey;">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Tanveer!</h1>
				<p>I'm a student of NIT Manipur from <em>CSE Dept.</em> I am an extrovert. style="text-align:center;"</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:tanveerali49@gmail.com">email</a></li>
        		<li><a href="https://github.com/tanveer263">github.com/tanveer263</a></li>
			</ul>
		</footer>
	</body>
</html>
