<!DOCTYPE html>
<html>
	<head style="background-color:green ;">
		<title>Hi Tanveer, NITian </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body style="background-color:azure;">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
			<marquee directiona="right">
        		<h1> Hi there, I'm Tanveer!</h1>
				</marquee>
			<marquee direction="up">
				<p> I'm a student of National Institute of Technology Manipur from CSE Department.</p>
				<p>I have completed Intermediate from Pawanagar Mahabeer Inter College Fazilnagar, Kushinagar</p>
				<p> I belong to a place known as Lord Budha Nagari Kushinagar at Gorakhpur in Uttar Pradesh</p>
		                 <p>Pin : 274401</p>
			       
				</marquee>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:tanveerali49@gmail.com">email me</a></li>
        		<li><a href="https://github.com/tanveer263">github.com/tanveer263</a></li>
			</ul>
		</footer>
	</body>
</html>
